<footer id="footer" class="footer-wrapper">

<div class="absolute-footer light medium-text-center text-center">
  <div class="container clearfix">

    
    <div class="footer-primary pull-left">
            <div class="copyright-footer">
        Copyright 2025 © <strong>Nombre Demo</strong> por <a href="https://menu.es/">menu.es</a>      </div>
          </div>
  </div>
</div>

<a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Ir arriba"><i class="icon-angle-up" ></i></a>

</footer>